<html>
<head>
	<meta charset="utf-8">
	<title>HerokUsos</title>

</head>
<body>
	<h1>HerokUsos</h1>

	<p name="id"> id: {{id1}} </p>
	
	<p name="name"> Imię: {{imie}} </p>

	<p name="titles"> {{titles}} </p>
	<p name="student_status"> {{student_status}} </p>
	<p name="student_prog"> {{student_prog}} </p>
	<p name="staff_stat"> {{staff_stat}} </p>

	<p name="timetable"> {{timetable}} </p>
	<p name="thesis"> {{thesis}} </p>


<footer>
 <p>Copyrights {{nowYear}} </p>
</footer>

</body>
</html>

